* {
  padding: 0;
  margin: 0;
}

:root {
  --VeryDarkBlue: hsl(243, 87%, 12%);
  --DesaturateBlue: hsl(238, 22%, 44%);
  --BrighBlue: hsl(224, 93%, 58%);
  --ModeratCyan: hsl(170, 45%, 43%);
  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);
  --opensan:'Open Sans',sans-serif;
  --raleway:'Raleway', sans-serif;
}

* {
  font-size: 16px;
}

body {
  font-family: var(--opensan);
  font-weight: 400;
  background-color: var(--LightGrayishBlue);
}

.navbar {
  background-color: transparent !important;
}

.nav-link {
  font-family: var(--raleway) !important;
  font-weight: 400 !important;
  font-size: 1em;
  color: var(--VeryDarkBlue) !important;
}

.logo_container img {
  width: 90px;
}

.firstContent {
  margin-bottom: 100px;
}

.firstContent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--raleway);
  text-align: center;
  color: var(--VeryDarkBlue);
}

.firstContent div img {
  width: 90%;
}

.firstContent div h1 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.firstContent div article {
  font-family: var(--opensan);
  color: var(--DesaturateBlue);
  font-weight: 400;
  margin-bottom: 40px;
}

.firstContent div form {
  width: 90%;
}

.firstContent div form div {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstContent div form div input {
  margin-top: 10px;
  border: 1px solid var(--VeryDarkBlue);
  color: var(--LightGray);
  padding: 5px 20px;
  font-size: 0.9em;
  height: 45px;
  width: 100% !important;
  max-width: 280px !important;
}

.firstContent div form div button {
  width: 100%;
  margin-top: 10px;
  background-color: var(--BrighBlue);
  font-weight: 700;
  height: 45px;
  max-width: 280px !important;
}

.secondContent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondContent div img {
  width: 90%;
  margin-bottom: 50px;
}

.secondContent div h1 {
  font-weight: 700;
  color: var(--VeryDarkBlue);
  font-size: 1.1em;
  margin-bottom: 30px;
}

.secondContent div article {
  font-family: var(--opensan);
  color: var(--DesaturateBlue);
  font-weight: 400;
  margin-bottom: 30px;
}

.secondContent div a {
  font-family: var(--opensan);
  color: var(--ModeratCyan);
  margin-bottom: 30px;
  font-weight: 400;
}

.secondContent div a p {
  display: inline;
  margin-right: 2px;
}

.secondContent div a .icono {
  background-color: var(--ModeratCyan);
  font-size: 1.2em;
  color: #fff;
  border-radius: 10px;
}

.secondContent div a hr {
  margin: 2px;
  background-color: var(--ModeratCyan);
  height: 0.5px;
}

.secondContent div a:hover {
  text-decoration: none;
}

.secondContent div div {
  width: 90%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px 22px 30px;
  color: var(--DesaturateBlue);
  margin-bottom: 80px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.secondContent div div p {
  margin-right: auto;
  margin-bottom: 5px;
  text-align: right;
}

.secondContent div div article {
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 0.9em;
  margin-bottom: 0px;
}

.secondContent div div div {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18px 0 0 0;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 0.5em;
}

.secondContent div div div img {
  width: 30px;
  border-radius: 30px;
  margin: 0;
  padding: 0;
}

.secondContent div div div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1em;
  margin: auto 10px;
}

.secondContent div div div div p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.secondContent div div div div h1 {
  font-family: var(--opensan);
  font-weight: 700;
  font-size: 1.5em;
  color: var(--DesaturateBlue);
  margin: 0;
  padding: 0;
}

.thirdContent {
  background-color: var(--DesaturateBlue);
  color: #fff;
  padding: 30px;
}

.thirdContent div {
  text-align: center;
}

.thirdContent div h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 25px;
}

.thirdContent div article {
  font-size: 0.9em;
  line-height: 25px;
  margin-bottom: 30px;
}

.thirdContent div form {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.thirdContent div form div {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thirdContent div form div input {
  margin-top: 10px;
  border: 1px solid var(--VeryDarkBlue);
  color: var(--LightGray);
  padding: 5px 20px;
  font-size: 0.9em;
  height: 45px;
  width: 100% !important;
  max-width: 280px !important;
}

.thirdContent div form div button {
  width: 100%;
  margin-top: 10px;
  background-color: var(--BrighBlue);
  font-weight: 700;
  height: 45px;
  max-width: 280px !important;
}

footer {
  background-color: #070439;
  color: #fff;
  padding: 20px;
}

footer div .logo {
  margin-top: 40px;
  width: 160px;
  margin-bottom: 20px;
}

footer div img {
  margin-right: 10px;
}

footer div p {
  font-size: 1em;
}

footer div ul {
  margin-top: 30px;
  list-style: none;
  text-align: left;
  padding-left: 0;
}

footer div ul li {
  margin-top: 10px;
}

footer div ul li a {
  color: #fff;
}

footer div ul li a:hover {
  text-decoration: none;
  color: var(--BrighBlue);
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 20px 0;
}

.icons a {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin: 0 8px;
}

@media (min-width: 992px) {
  .firstContent div h1 {
    text-align: left;
  }
  .firstContent div article {
    text-align: left;
  }
  .firstContent div form {
    width: 100%;
  }
  .firstContent div form button {
    width: 200px !important;
  }
  .firstContent div form input {
    width: 100%;
  }
  .secondContent div h1 {
    text-align: left;
  }
  footer div ul {
    text-align: center;
  }
  .icons {
    margin: auto 0;
  }
}
/*# sourceMappingURL=fylostyle.css.map */